{% extends "base.html" %}
{% block title %} Ajouter un FILM (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau Client
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_client_wtf.label }}<br>
						{{ form.nom_client_wtf(size=24) }}<br>
						{% for error in form.nom_client_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.prenom_client_wtf.label }}<br>
						{{ form.prenom_client_wtf(size=24) }}<br>
						{% for error in form.prenom_client_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
  						{{ form.date_nais_client_wtf.label }}<br>
						{{ form.date_nais_client_wtf(size=24) }}<br>
						{% for error in form.date_nais_client_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}

					</p>

					<p>
						{{ form.fk_genre_client_wtf.label }}<br>
						{{ form.fk_genre_client_wtf(size=3) }}<br>
						{% for error in form.fk_genre_client_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.assu_maladie_client_wtf.label }}<br>
						{{ form.assu_maladie_client_wtf(size=24) }}<br>
						{% for error in form.assu_maladie_client_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

