{% extends "base.html" %}
{% block title %} Editer un Client {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p style="color: white">
				Editer un Client
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update_client.hidden_tag() }}
				<div class="form-group">
					<p style = "color:white">
						{{ form_update_client.nom_client_update_wtf.label }}<br>
						{{ form_update_client.nom_client_update_wtf(size=32) }}<br>
						{% for error in form_update_client.nom_client_update_wtf.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p style = "color:white">
						{{ form_update_client.prenom_client_update_wtf.label }}<br>
						{{ form_update_client.prenom_client_update_wtf(size=32) }}<br>
						{% for error in form_update_client.prenom_client_update_wtf.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p style = "color:white">
						{{ form_update_client.date_nais_client_update_wtf.label }}<br>
						{{ form_update_client.date_nais_client_update_wtf(cols=50, rows=10) }}<br>
						{% for error in form_update_client.date_nais_client_update_wtf.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p style = "color:white">
            			{{ form_update_client.genres_dropdown_update_wtf.label(class="form-control-label") }}<br>
            			{{ form_update_client.genres_dropdown_update_wtf(class="form-select-sm") }}
						{% for error in form_update_client.genres_dropdown_update_wtf.errors %}
                		<span style="color: red;">[{{ error }}]</span>
            			{% endfor %}
        			</p>

					<p style = "color:white">
            			{{ form_update_client.assu_dropdown_update_wtf.label(class="form-control-label") }}<br>
            			{{ form_update_client.assu_dropdown_update_wtf(class="form-select-sm") }}
						{% for error in form_update_client.assu_dropdown_update_wtf.errors %}
                		<span style="color: red;">[{{ error }}]</span>
            			{% endfor %}
        			</p>
				</div>
				{{ form_update_client.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

