{% extends "base.html" %}
{% block title %} Afficher CLIENTS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="align-middle" >
						  id
						</th>
						<th class="align-middle" >
						  Nom
						</th>
						<th class="align-middle" >
						  prenom
						</th>
						<th class="align-middle" >
						  date de naissance
						</th>
						<th class="align-middle" >
						  Genre
						</th>
						<th class="align-middle" >
						  Assurance maladie
						</th>
						<th class="">

                        </th>
						<th class="">

                        </th>
						<th class="">

                        </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_client }}
					  </th>
					  <th class="align-middle">
						{{ row.nom }}
					  </th>
					  <th class="align-middle">
						{{ row.prenom }}
					  </th>
					  <th class="align-middle">
						{{ row.date_de_nais }}
					  </th>
					<th class="align-middle">
						{{ row.nom_genre}}
					  </th>
					  <th class="align-middle">
						{{ row.nom_assu}}
					  </th>

				<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('client_add_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('client_update_wtf', id_client_btn_edit_html=row.id_client) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('client_delete_wtf', id_genre_btn_delete_html=row.id_client) }}" role="button">Delete</a>
						</td>

				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun client.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
