{% extends "base.html" %}
{% block title %} Home Pharmacie {% endblock %}
{% block body %}
<body style="background-image:url('/static/peakpx.jpg'); background-size: cover;">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Gestionnaire de médicament :)<br>
				Ce que le site permet : <br>
			</h3>

			<ul>
				<li class="list-item">
					D'ajouter des informations
				</li>
				<li class="list-item">
					Mettre à jour les informations
				</li>
				<li class="list-item">
					Supprimer les informations
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
